<ul class="main-menu navbar-nav ml-auto" id="main-menu">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Chat</a>
        </li>
        <li class="nav-item btn-group">
            <a class=" nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                settings
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/updateProfile">Profile</a>
                <a class="dropdown-item" href="/logout" onclick="return doLogout()">Logout</a>
                
            </div>
        </li>
    </ul>

    <ul class="setting-area">

</ul>